/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.nav-icon {
	font-size: 45px;
	padding-top: 20px;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
}

.openav {
	width: 250px;
}

.closenav {
	width: 0;
}

.nav-items {
	width: 14em;
	margin: 0 auto;
}

.nav-list {
	text-align: center;
    text-decoration: none;
    font-size: 42px;
    width: 5em;
    padding: 20px 0;
    margin: 0 auto;
    display: block;
    color: #fff;
    transition: 0.3s;
}

.nav-list:hover {
    border-left: 4 px solid #fff;
}

.nav .closebtn {
    position: absolute;
    top: 0;
    color: #818181;
    right: 25px;
    font-size: 58px;
    margin-left: 50px;
    text-decoration: none;
}

.main-content{
	width: 47em;
	height: 550px;
	
}
.intro-bubble{
	padding-top: 110px;
	padding-bottom: 20px;
	pointer-events: none;
}

.welcome-message {
	border: none; 
	border-radius: 0%; 
	padding: 0;
	width: 26em;
	height: 165px;
}

.welcome-text {
	font-size: 35px;
	width: 9em;
	margin: 0 auto;
	padding: 15px 0;
	border-bottom: 3px solid #000;
}

.replace-text {
	display: block;
	margin: 0 auto;
	font-size: 32px;
	padding: 20px 0;
	width: 18em;
}

.service-block {
	width: 47em;
	height: 820px;
}

.se-hd {
	font-size: 40px;
	margin: 0 auto;
	padding: 0 10px;
	font-weight: bold;
	border-bottom: 3px solid #000; 
	width: 3.5em;
}

.services,.services-two {
	width: 47em;
	margin: 0 auto;
	overflow-y: hidden;
	height: 370px;
	position: relative;
  	display: block;
}

.web-development,.web-design,.web-storage,.web-security {
	transition: 0.7s ease;
	display: inline-block;
	height: 350px;
  	margin: 0 auto;
  	width: 16.25em;
  	padding:0 55px;
}

.web-development,.web-storage {
	float: left;
}

.web-design,.web-security {
	float: right;
}

.wd-img,.wde-img,.wds-img,.wdse-img  {
	transition: 0.7s ease;
	padding-top: 50px;
	pointer-events: none;
	width: 120px;
}

.wd-hd,.wde-hd,.wds-hd,.wdse-hd {
	transition: 0.7s ease;
	padding-bottom: 10px;
	pointer-events: none;
	font-size: 32px;
	width: 120px;
}

.wd-hd {
	width: 170px;
}

.wd-more,.wde-more,.wds-more,.wdse-more {
	display: block;
	width: 70px;
	border-bottom: 3px solid #000;
	font-size: 32px;
	margin: 0 auto;
	padding: 5px 15px;
}

.wd-inText,.wde-inText,.wds-inText,.wdse-inText {
	display: block;
	transition: 0.9s ease;
	font-size: 32px;
	width: 19em;
	padding:50px 0;
}

.wd-back,.wde-back,.wds-back,.wdse-back {
	position: absolute;
    top: 0;
    right: 25px;
    font-size: 66px;
    margin-left: 20px;
}

@-webkit-keyframes service-fadeout-in {
  0%   { opacity: 0;}
  100% { }
}
@keyframes service-fadeout-in {
  0%   { opacity: 0;}
  100% { }
}

.work-content {
	width: 47em;
	height: 1700px;
	background-image: none; 
}

.wk-hd {
	color: #000;
	font-size: 40px;
	border-bottom: 3px solid #000;
}

.work-block {
	height: 1700px;
	width: 47em;
}

.robust-coding,.business-understanding,.creativity,.social-integration {
	height: 400px;
	width: 100%;
	opacity: 1;
	position: static;
	animation: none;
}
.creativity {
	height: 350px;
}

.business-understanding,.social-integration {
	height: 400px;
	background-color: #fff;
	color: #000;
}

.roc-head,.biu-head,.cr-head,.sci-head {
	font-size: 35px;
	border-bottom: 2px solid #fff;
	padding: 10px 0;
}

.roc-head {
	margin: 20px auto;
}

.sci-head {
	width: 220px;
}

.biu-head,.sci-head {
	margin: 20px auto;
	color: #000;
	border-bottom: 2px solid #000;
}

.biu-head {
	width: 220px;
}

.more-roc-content,.more-biu-content,.more-cr-content,.more-sci-content {
	height: 180px;
	font-weight: normal;
	width: 600px;
	margin: 10px auto;
	font-size: 29px;
	padding: 0;

}

.more-biu-content {
	color: #000;
	font-size: 29px;
}

.container1 {
	width: 38em;

}
