body{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 200px; 
    font-family: 'PT Sans', sans-serif;
}

.nav-icon {
	float: left;
	width: 30px;
	padding-top: 10px;
	padding-left: 30px;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.openav {
	width: 250px;
}

.closenav {
	width: 0;
}


.nav-items {
	width: 14em;
	margin: 0 auto;
}

.nav-list {
	text-align: center;
    text-decoration: none;
    font-size: 25px;
    width: 5em;
    padding: 15px 0;
    margin: 0 auto;
    display: block;
    color: #fff;
    transition: 0.3s;
}

.nav-list:hover {
    border-left: 4px solid #fff;
}

.nav .closebtn {
    position: absolute;
    top: 0;
    color: #818181;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
}

.wd-flow {
	color: white;
	background-color: black;
	font-size: 19px; 
	padding: 10px 32px; 
	margin: 0 auto;
	transition: 1s fade-in;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.wd {
	pointer-events: none;
	animation: leftslide 0.3s;
	transition: 1s;
}

@-webkit-keyframes leftslide {
  0%   { opacity: 0;padding-left:164px;}
  100% { opacity: 1;padding-left:0px;}
}
@keyframes leftslide {
  0%   { opacity: 0;padding-left:84px;}
  100% { opacity: 1;padding-left:0px;}
}

.wde-flow {
	color: white;
	background-color: black;
	font-size: 19px; 
	padding: 10px 62px; 
	margin: 0 auto;
	transition: 1s fade-in;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.wde {
	pointer-events: none;
	padding-left:481px;
	animation: rightslide 0.3s;
	transition: 1s;
}

@-webkit-keyframes rightslide {
  0%   { opacity: 0;padding-left:380px;}
  100% { opacity: 1;padding-left:481px;}
}
@keyframes rightslide {
  0%   { opacity: 0;padding-left:380px;}
  100% { opacity: 1;padding-left:481px;}
}

.intro-bubble{
	position: relative;
	margin: 0 auto;
	width: 46em;
	padding-top: 100px;
}

.welcome-message {
	text-align: center;
	margin: 0 auto;
	padding: 100px 100px;
	border-radius: 50%;
	border: black 3px solid; 
	width: 200px;
	height: 160px;
	transition: 0.3s;
	font-size: 27px;
	z-index: 1;
}

.welcome-message:hover {
	color: white;
	background-color: black;
}
.welcome-text {
	display: block;
	font-weight: bold;
	pointer-events: none;
	transition: 0.3s;
	padding-top: 25px;
}

.replace-text {
	display: none;
	pointer-events: none;
	transition: 0.3s;
	font-size: 21px; 
}

.wds-flow {
	top: 400px;
	color: white;
	background-color: black;
	font-size: 19px; 
	padding: 10px 52px; 
	margin: 0 auto;
	transition: 1s fade-in;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.wds {
	pointer-events: none;
	animation: leftslide 0.3s;
	transition: 1s;
}

@-webkit-keyframes leftslide {
  0%   { opacity: 0;padding-left:164px;}
  100% { opacity: 1;padding-left:0px;}
}
@keyframes leftslide {
  0%   { opacity: 0;padding-left:84px;}
  100% { opacity: 1;padding-left:0px;}
}

.wdse-flow {
	top: 400px;
	color: white;
	background-color: black;
	font-size: 19px; 
	padding: 10px 47px; 
	margin: 0 auto;
	transition: 1s fade-in;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.wdse {
	pointer-events: none;
	padding-left:481px;
	animation: rightslide 0.3s;
	transition: 1s;
}

@-webkit-keyframes rightslide {
  0%   { opacity: 0;padding-left:380px;}
  100% { opacity: 1;padding-left:481px;}
}
@keyframes rightslide {
  0%   { opacity: 0;padding-left:380px;}
  100% { opacity: 1;padding-left:481px;}
}

/* services */
.service-block {
	width: 72em;
	margin: 0 auto;
	height: 320px;
}

.se-hd,.wk-hd {
	font-size: 26px;
	margin: 0 auto;
	padding: 0 10px;
	font-weight: bold;
	border-bottom: 2px solid #000; 
	width: 4em;
}
.wk-hd {
	width: 2.5em;
}

.services,.services-two {
	float: left;
	width: 36em;
	height: 320px;
	margin: 0 auto;
}
.prev, .next {
	display: none;
}
.web-development,.web-design,.web-storage,.web-security {
	display: inline-block;
	overflow: hidden;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	float: left;
	width: 17.85em;
	height: 320px;
}

.wd-img,.wde-img,.wds-img,.wdse-img  {
	padding-top: 90px;
	margin: 0 auto;
	width: 60px;
	transition: 0.2s;
}

.wd-hd,.wde-hd,.wds-hd,.wdse-hd {
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 115px;
	text-align: center;
	width: 116px;
	transition: 0.2s;
	margin: 0 auto;
}

.wd-more,.wde-more,.wds-more,.wdse-more {
	display: none;
}

.wd-back,.wde-back,.wds-back,.wdse-back {
	display: none;
}
.wd-inText,.wde-inText,.wds-inText,.wdse-inText {
	font-size: 15px;
	transition: 0.2s fade-in;
	margin: 0 auto;
	text-align: center;
	width: 240px;
}

.wde-hd,.wds-hd,.wdse-hd {
	width: 100px;
}

/* on hover cards */
.wdx-IMG,.wdex-IMG,.wdsx-IMG,.wdsxe-IMG {
	padding: 20px 110px 0 110px;
	margin: 0 auto;
	width: 65px;
	animation: wdx-uplift 0.2s;
}

/* image lift */
@-webkit-keyframes wdx-uplift {
  0%   { padding-top:90px;}
  100% { padding-top:20px;}
}
@keyframes wdx-uplift {
  0%   { padding-top:90px;}
  100% { padding-top:20px;}
}

.wdh-HD,.wdex-HD,.wdsx-HD,.wdsxe-HD {
	font-size: 22px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	width: 120px;
	margin: 0 auto;
	animation: wdh-uplift 0.2s;
}

.wdex-HD,.wdsx-HD,.wdsxe-HD {
	width: 110px;
} 

/* header lift */
@-webkit-keyframes wdh-uplift {
  0%   { padding-top:10px;padding-bottom: 30px;}
  100% { padding-top:30px;padding-bottom: 30px;}
}
@keyframes wdh-uplift {
  0%   { padding-top:10px;padding-bottom: 30px;}
  100% { padding-top:30px;padding-bottom: 30px;}
}

.work-block {
	height: 400px;
	width: 75em;
	margin: 60px auto;
	
}

.business-understanding:hover,.creativity:hover,.robust-coding:hover,.social-integration:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;

}

.business-understanding {
	width: 330px;
	height: 330px;
	left: 350px;
	margin-top: 50px;
	border-radius: 50%;
	position: absolute;
	border: 3px solid #000;
}

.biu-head {
	font-size: 26px;
	width: 190px;
	padding: 130px 0;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
}

.creativity {
	width: 230px;
	height: 230px;
	left: 680px;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
}


.cr-head {
	font-size: 26px;
	width: 190px;
	padding: 95px 0;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
}

.bu-expand,.cr-expand,.sci-expand {
	display: none;
}

.ro-more {
	float: left;
	width: 954px;
	height: 400px;
}

.more-roc {
	padding: 10px 60px;
	width: 33em;
	border-left: 3px solid #fff;
	margin: 125px 0;
	font-size: 24px;
}

.robust-coding{
	height: 260px;
	position: absolute;
	font-size: 26px;
	border: 3px solid #000;
	border-radius: 50%;
	font-weight: bold;
	text-align: center;
	width: 260px;
}

.social-integration {
	height: 340px;
	width: 340px;
	left: 930px;
	position: absolute;
	border: 3px solid #000;
	border-radius: 50%;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.roc-head {
	margin: 0 auto;
	padding: 95px 0;  
	width: 120px;
}

.roc-img-fwd {
	display: block;
	float: left;
	cursor: pointer;
	width: 66px;
	padding: 170px 0;
}

@-webkit-keyframes roc-expand {
	0% {width: 260px; border-top-right-radius: 5px;}
	100% {width: 1200px; border-top-right-radius: 0px;}
}
@keyframes roc-expand {
	0% {width: 260px; border-top-right-radius: 5px;}
	100% {width: 1200px; border-top-right-radius: 0px;}
}

.roc-img-back {
	display: block;
	float: left;
	cursor: pointer;
	width: 66px;
	padding: 170px 0;
}

.roc-hover {
	float: left;
	padding-right: 0;
	margin: 40px 0;
	cursor:pointer;
	transition:0.2s;
	padding: 130px 0;
	padding-left: 60px;
	width: 120px;
}

.sci-head {
	width: 150px;
	margin: 0 auto;
	padding: 135px 0;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/*
#nav li {

	list-style: none;
	display: inline;
	font-weight: bold;
	font-family: "open sans";
	font-size: 25px;
	padding: 0 8px 0 8px;
}


#nav a {
	color: black;
	text-decoration: none;
	list-style: none;
	font-family: "open sans";
}

#nav a:hover{
	 color: grey;

}


#headerFont0{
	color: black;
	font-size: 20;
	padding-left: 350px;
	
}*/

.main-content{
	width: 100%;
	height: 550px;
	
}
/*
#containerText0{
	color: black;
	font-family: sans-serif;
	padding-top: 200px;
	padding-bottom: 30px;
	padding-left: 20px;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.5px;
	
	
}

#headerFont1{
	color: black;
	padding-right: 30px;
	font-size: 35px;
	float: right;
	
}


.container1{
	width: 100%;
	height: 550px;
	background-color: white;
	background-image: url('Final business.jpg');
	background-repeat: no-repeat;
	
}


#containerText1{

	color: white;
	padding-top: 30px;
	padding-left: 170px;
	padding-right: 0px;
	font-weight: bold;
	font-family: arial;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.5px;
	display: inline;
	float: right;

	

}

#headerFont2{
	color: white;
	padding-right: 30px;
	font-size: 35px;
		
}

.container2{
	width: 100%;
	height: 550px;
	background-color: ebebeb;
	background-image: url('Final creative.png');
	background-attachment: fixed;
	background-repeat: ;
	background-position: right;
}


#containerText2{
	color: white;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 170px;
	font-weight: bold;
	font-family: arial;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: 0.5px;
	display: inline;
	float: left;
}


#headerFont3{
	color: black;
	padding-right: 30px;
	font-size: 35px;
		
}


.container3{
	width: 100%;
	height: 550px;
	background-color: white;
	background-image: url('creative.PNG');
	background-attachment: fixed;
	background-position: left;
	}


#containerText3{
	color: black;
	padding-top: 30px;
	padding-left: 170px;
	padding-right: 0px;
	font-weight: bold;
	font-family: arial;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.5px;
	display: inline;
	float: right;
}

#headerFont4{
	color: black;
	padding-right: 30px;
	font-size: 35px;
		
}

.container4{
	width: 100%;
	height: 550px;
	background-color: ebebeb;
	background-image: url('social.png');
	background-repeat: no-repeat;
	
}

#containerText4{
	color: black;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 170px;
	font-weight: bold;
	font-family: arial;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.5px;
	display: inline;
	float: left;
}


.bottomContainer{
	width: 100%;
	height: 60px;
	background-color: ebebeb;
	background-image: url('capture.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	padding-top: 40px;
	position: fixed;
	webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}*/

